boto3
wheel
jinja2
pandas
matplotlib
seaborn
#gnuplot
plotly
requests
django
flask
#beautifulsoup3
urllib3
s3transfer
awscli
python-dateutil
pyyaml
jmespath
pytz
simplejson
tensorflow
scikit-learn
numpy
keras
torch
python-bootstrap
django-bootstrap
flask-bootstrap
