#beautifulsoup3
#gnuplot
awscli
boto3
django
django-bootstrap
flask
flask-bootstrap
jinja2
jmespath
jq
keras
matplotlib
numpy
pandas
plotly
python-bootstrap
python-dateutil
pytz
pyyaml
requests
s3transfer
scikit-learn
seaborn
simplejson
tensorflow
torch
urllib3
wheel
yq
